@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Lato:wght@400;700&family=Sigmar&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2947bb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230c1efb' fill-opacity='0.19' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html {
    font-family: "Georama", sans-serif;
    font-size: 62.5%;
}

.titulo {
    color: white;
    text-align: center;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 500px;
    border: 1px solid gray;
    margin-top: -80px;   
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    background-color: white;
    border: 1px solid gray;
    overflow-x: auto;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-buttons {
    width: 25%;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}

.keypad-buttons:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad-buttons.yellow {
    background-color: yellow;
}

.keypad-buttons.large {
    width: 50%;
}

.keypad-buttons.dark {
    background-color: lightgrey;
}

.footer {
    text-align: center;
    font-size: 15px;
    color: white;
    padding-bottom: 80px;
}